[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = ankit chouhan
	email = 78903052+ankitchouhan119@users.noreply.github.com
