.p-aboutUs.Flex402 {
display: flex;
width: ;
margin-bottom: ;
margin-top: ;
}
.p-aboutUs.Flex403 {
display: flex;
width: 70%;
flex-direction: column;
row-gap: 20px;
align-items: center;
justify-content: center;
margin-bottom: 5px;
}
.p-aboutUs.Flex405 {
display: flex;
align-items: flex-start;
justify-content: flex-start;
width: 55%;
}
.p-aboutUs.Flex406 {
display: flex;
align-items: center;
justify-content: flex-start;
width: 55%;
}
.p-aboutUs.Flex404 {
display: flex;
width: 30%;
align-items: center;
justify-content: center;
}
.p-aboutUs.Flex416 {
display: flex;
width: 100%;
margin-bottom: ;
}
.p-aboutUs.Flex415 {
display: flex;
width: 70%;
flex-direction: column;
row-gap: 20px;
align-items: center;
justify-content: center;
margin-bottom: ;
background-color: #FF7629ff;
padding-bottom: 100px;
padding-right: 100px;
}
.p-aboutUs.Flex419 {
display: flex;
width: 90%;
margin-bottom: ;
align-items: center;
justify-content: flex-start;
position: relative;
bottom: 50px;
background-color: ;
padding-left: 50px;
column-gap: ;
}
.p-aboutUs.Flex420 {
display: flex;
column-gap: 40px;
align-items: center;
height: ;
padding-bottom: 50px;
padding-top: 50px;
padding-left: 50px;
padding-right: 50px;
z-index: 5;
bottom: 50px;
position: static;
background-color: #ffffffff;
border-width: 4px;
border-style: solid;
border-radius: 20px;
border-color: #ccccccff;
}
.p-aboutUs.Flex421 {
display: flex;
flex-direction: column;
position: relative;
bottom: 140px;
padding-top: 180px;
padding-bottom: 150px;
row-gap: 30px;
background-color: #FFF9F3ff;
width: 100%;
align-items: stretch;
justify-content: flex-start;
}
.p-aboutUs.Flex424 {
display: flex;
position: relative;
bottom: 14px;
column-gap: 70px;
align-items: center;
justify-content: center;
align-self: auto;
padding-top: 50px;
width: 90%;
flex-direction: row;
flex-wrap: nowrap;
}
.p-aboutUs.Flex425 {
display: flex;
position: static;
justify-content: flex-end;
width: 50%;
padding-top: ;
align-items: center;
}
.p-aboutUs.Flex426 {
display: flex;
position: static;
flex-direction: column;
row-gap: 30px;
width: 50%;
align-items: flex-start;
justify-content: center;
padding-left: 90px;
align-self: auto;
}
.p-aboutUs.Flex496 {
display: flex;
position: relative;
bottom: 14px;
column-gap: 70px;
align-items: center;
justify-content: center;
align-self: auto;
padding-top: 50px;
width: 90%;
}
.p-aboutUs.Flex494 {
display: flex;
position: relative;
bottom: 14px;
flex-direction: column;
row-gap: 30px;
width: 50%;
align-items: flex-start;
justify-content: center;
}
.p-aboutUs.Flex495 {
display: flex;
position: relative;
bottom: 14px;
justify-content: flex-end;
width: 50%;
padding-top: ;
align-items: center;
}
.p-aboutUs.Flex430 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
row-gap: 30px;
margin-bottom: ;
padding-bottom: 150px;
}
.p-aboutUs.Flex432 {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
row-gap: ;
column-gap: 20px;
align-self: auto;
width: 60%;
margin-bottom: ;
}
.p-aboutUs.Flex433 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
row-gap: 15px;
width: ;
}
.p-aboutUs.Flex436 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
row-gap: 15px;
width: ;
}
.p-aboutUs.Flex437 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
row-gap: 15px;
width: ;
}
.p-aboutUs.Flex438 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
row-gap: 30px;
padding-bottom: 150px;
margin-bottom: ;
}
.p-aboutUs.Flex439 {
display: flex;
flex-direction: column;
row-gap: ;
align-items: center;
justify-content: center;
align-content: stretch;
align-self: auto;
width: 90%;
}
.p-aboutUs.Flex440 {
display: flex;
column-gap: 30px;
width: 80%;
align-items: center;
justify-content: space-between;
align-self: center;
}
.p-aboutUs.Flex442 {
display: flex;
flex-direction: column;
row-gap: 15px;
align-items: center;
justify-content: center;
width: 270px;
}
.p-aboutUs.Flex445 {
display: flex;
flex-direction: column;
row-gap: 15px;
align-items: center;
justify-content: center;
width: 270px;
}
.p-aboutUs.Flex446 {
display: flex;
flex-direction: column;
row-gap: 15px;
align-items: center;
justify-content: center;
width: 270px;
}
.p-aboutUs.Flex460 {
display: flex;
flex-direction: column;
row-gap: ;
align-items: center;
justify-content: center;
align-content: stretch;
align-self: auto;
width: 90%;
}
.p-aboutUs.Flex459 {
display: flex;
column-gap: 30px;
width: 80%;
align-items: center;
justify-content: space-between;
align-self: center;
}
.p-aboutUs.Flex456 {
display: flex;
flex-direction: column;
row-gap: 15px;
align-items: center;
justify-content: center;
width: 270px;
}
.p-aboutUs.Flex457 {
display: flex;
flex-direction: column;
row-gap: 15px;
align-items: center;
justify-content: center;
width: 270px;
}
.p-aboutUs.Flex458 {
display: flex;
flex-direction: column;
row-gap: 15px;
align-items: center;
justify-content: center;
width: 270px;
}
.p-aboutUs.Flex674 {
display: flex;
justify-content: space-between;
padding-left: 120px;
padding-right: 120px;
padding-top: 30px;
padding-bottom: 50px;
font-family: IBM Plex Sans;
position: sticky;
background-color: ;
width: ;
}
.p-aboutUs.Flex672 {
display: flex;
justify-content: space-around;
row-gap: ;
column-gap: 40px;
}
.p-aboutUs.Flex673 {
display: flex;
justify-content: space-between;
column-gap: 25px;
font-family: IBM Plex Sans;
font-weight: 400;
color: #655a5a;
font-size: 20px;
align-content: stretch;
flex-wrap: nowrap;
align-items: center;
align-self: center;
}
.p-aboutUs.Flex731 {
display: flex;
background-color: #ffffffff;
justify-content: center;
padding-left: 150px;
padding-top: 150px;
padding-right: 150px;
padding-bottom: 150px;
align-items: flex-start;
box-sizing: content-box;
flex-direction: row;
row-gap: ;
column-gap: 80px;
width: ;
}
.p-aboutUs.Flex728 {
display: flex;
background-color: #ffffffff;
justify-content: center;
padding-left: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
align-items: center;
box-sizing: content-box;
flex-direction: column;
row-gap: 20px;
width: 35%;
}
.p-aboutUs.Flex722 {
display: flex;
background-color: #ffffffff;
justify-content: center;
padding-left: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
align-items: center;
box-sizing: content-box;
flex-direction: column;
row-gap: ;
width: 100%;
}
.p-aboutUs.Flex723 {
display: flex;
row-gap: 20px;
column-gap: 20px;
flex-direction: column;
justify-content: flex-start;
align-items: center;
align-self: auto;
position: static;
width: 100%;
padding-left: ;
height: ;
}
.p-aboutUs.Flex716 {
display: flex;
row-gap: ;
column-gap: 20px;
flex-direction: row;
justify-content: flex-start;
align-items: center;
align-self: auto;
position: static;
width: 100%;
padding-left: ;
height: 50%;
}
.p-aboutUs.Flex711 {
display: flex;
row-gap: ;
column-gap: 50px;
flex-direction: row-reverse;
justify-content: flex-start;
align-items: center;
align-self: auto;
position: static;
width: 50%;
padding-left: ;
height: 100%;
}
.p-aboutUs.Flex712 {
display: flex;
row-gap: ;
column-gap: 50px;
flex-direction: row;
justify-content: flex-start;
align-items: center;
align-self: auto;
position: static;
width: 50%;
padding-left: ;
height: 100%;
}
.p-aboutUs.Flex717 {
display: flex;
row-gap: ;
column-gap: 20px;
flex-direction: row;
justify-content: flex-start;
align-items: center;
align-self: auto;
position: static;
width: 100%;
padding-left: ;
height: 50%;
}
.p-aboutUs.Flex713 {
display: flex;
row-gap: ;
column-gap: 50px;
flex-direction: row;
justify-content: flex-start;
align-items: center;
align-self: auto;
position: static;
width: 50%;
padding-left: ;
height: 100%;
}
.p-aboutUs.Flex714 {
display: flex;
row-gap: ;
column-gap: 50px;
flex-direction: row-reverse;
justify-content: flex-start;
align-items: center;
align-self: auto;
position: static;
width: 50%;
padding-left: ;
height: 100%;
}
.p-aboutUs.Flex729 {
display: flex;
background-color: #ffffffff;
justify-content: center;
padding-left: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
align-items: center;
box-sizing: content-box;
flex-direction: row;
row-gap: ;
width: ;
column-gap: 40px;
}
.p-aboutUs.Flex724 {
display: flex;
background-color: #ffffffff;
justify-content: center;
padding-left: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
align-items: center;
box-sizing: content-box;
flex-direction: column;
row-gap: 20px;
width: 100%;
}
.p-aboutUs.Flex718 {
display: flex;
background-color: #ffffffff;
justify-content: center;
padding-left: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
align-items: flex-start;
box-sizing: content-box;
flex-direction: column;
row-gap: 15px;
width: 100%;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: ;
}
.p-aboutUs.Flex719 {
display: flex;
background-color: #ffffffff;
justify-content: center;
padding-left: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
align-items: center;
box-sizing: content-box;
flex-direction: column;
row-gap: ;
width: 100%;
}
.p-aboutUs.Flex715 {
display: flex;
background-color: #ffffffff;
justify-content: center;
padding-left: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
align-items: center;
box-sizing: content-box;
flex-direction: column;
row-gap: ;
width: 100%;
}
.p-aboutUs.Flex725 {
display: flex;
background-color: #ffffffff;
justify-content: center;
padding-left: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
align-items: stretch;
box-sizing: content-box;
flex-direction: column;
row-gap: 20px;
width: 100%;
}
.p-aboutUs.Flex720 {
display: flex;
background-color: #ffffffff;
justify-content: center;
padding-left: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
align-items: flex-start;
box-sizing: content-box;
flex-direction: column;
row-gap: 15px;
width: 100%;
}
.p-aboutUs.Flex721 {
display: flex;
background-color: #ffffffff;
justify-content: center;
padding-left: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
align-items: center;
box-sizing: content-box;
flex-direction: column;
row-gap: ;
width: 100%;
}
.p-aboutUs.Flex730 {
display: flex;
background-color: #ffffffff;
justify-content: center;
padding-left: 50px;
padding-top: ;
padding-right: ;
padding-bottom: ;
align-items: flex-start;
box-sizing: content-box;
flex-direction: column;
row-gap: 20px;
width: ;
}
.p-aboutUs.Flex726 {
display: flex;
row-gap: ;
column-gap: 8px;
width: 100%;
}
.p-aboutUs.Flex727 {
display: flex;
background-color: #ffffffff;
justify-content: center;
padding-left: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
align-items: center;
box-sizing: content-box;
flex-direction: column;
row-gap: ;
}
.p-aboutUs.Flex743 {
display: flex;
background-color: #FFF9F3ff;
justify-content: center;
padding-left: 150px;
padding-top: 150px;
padding-right: 150px;
padding-bottom: 150px;
align-items: center;
box-sizing: content-box;
flex-direction: column;
row-gap: 50px;
width: ;
}
.p-aboutUs.Flex741 {
display: flex;
row-gap: ;
column-gap: 50px;
flex-direction: row;
justify-content: center;
align-items: center;
align-self: auto;
position: static;
width: 100%;
padding-left: 150px;
align-content: center;
}
.p-aboutUs.Flex738 {
display: flex;
row-gap: 20px;
column-gap: 20px;
flex-direction: column;
justify-content: flex-start;
align-items: center;
align-self: auto;
position: static;
width: 33.3%;
padding-left: ;
height: ;
}
.p-aboutUs.Flex736 {
display: flex;
row-gap: ;
column-gap: 20px;
flex-direction: row;
justify-content: flex-start;
align-items: center;
align-self: auto;
position: static;
width: 100%;
padding-left: ;
height: 50%;
}
.p-aboutUs.Flex732 {
display: flex;
row-gap: ;
column-gap: 50px;
flex-direction: row-reverse;
justify-content: flex-start;
align-items: center;
align-self: auto;
position: static;
width: 50%;
padding-left: ;
height: 100%;
}
.p-aboutUs.Flex733 {
display: flex;
row-gap: ;
column-gap: 50px;
flex-direction: row;
justify-content: flex-start;
align-items: center;
align-self: auto;
position: static;
width: 50%;
padding-left: ;
height: 100%;
}
.p-aboutUs.Flex737 {
display: flex;
row-gap: ;
column-gap: 20px;
flex-direction: row;
justify-content: flex-start;
align-items: center;
align-self: auto;
position: static;
width: 100%;
padding-left: ;
height: 50%;
}
.p-aboutUs.Flex734 {
display: flex;
row-gap: ;
column-gap: 50px;
flex-direction: row;
justify-content: flex-start;
align-items: center;
align-self: auto;
position: static;
width: 50%;
padding-left: ;
height: 100%;
}
.p-aboutUs.Flex735 {
display: flex;
row-gap: ;
column-gap: 50px;
flex-direction: row-reverse;
justify-content: flex-start;
align-items: center;
align-self: auto;
position: static;
width: 50%;
padding-left: ;
height: 100%;
}
.p-aboutUs.Flex739 {
display: flex;
row-gap: ;
column-gap: 50px;
flex-direction: row-reverse;
justify-content: flex-start;
align-items: center;
align-self: auto;
position: static;
width: 33.3%;
padding-left: ;
}
.p-aboutUs.Flex740 {
display: flex;
row-gap: ;
column-gap: 50px;
flex-direction: row-reverse;
justify-content: flex-start;
align-items: center;
align-self: auto;
position: static;
width: 33.3%;
padding-left: ;
}
.p-aboutUs.Flex742 {
display: flex;
row-gap: ;
column-gap: 50px;
flex-direction: row-reverse;
justify-content: space-between;
align-items: center;
align-self: auto;
position: static;
width: 100%;
}
.p-aboutUs.TextBox281 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 50px;
padding-top: 7px;
width: ;
cursor: auto;
border-color: #696969ff;
padding-left: 50px;
}
.p-aboutUs.TextBox282 {
font-family: IBM Plex Sans;
font-weight: ;
font-size: 20px;
padding-top: 7px;
width: ;
cursor: auto;
border-color: #696969ff;
padding-left: 50px;
color: #696969ff;
}
.p-aboutUs.Image158 {
width: 400px;
border-radius: 40px;
position: relative;
top: 100px;
right: 100px;
}
.p-aboutUs.Flex414 {
display: flex;
width: 30%;
align-items: center;
justify-content: center;
}
.p-aboutUs.Image161 {
width: 600px;
border-radius: 40px;
position: relative;
bottom: 70px;
}
.p-aboutUs.Image163 {
width: 150px;
}
.p-aboutUs.Image164 {
width: 100px;
}
.p-aboutUs.Image165 {
width: 220px;
}
.p-aboutUs.Image166 {
width: 220px;
}
.p-aboutUs.TextBox287 {
font-family: IBM Plex Sans;
font-weight: ;
font-size: 20px;
padding-top: 7px;
width: ;
cursor: auto;
border-color: #696969ff;
}
.p-aboutUs.Image167 {
width: 520px;
border-radius: 40px;
position: relative;
bottom: 70px;
align-self: auto;
}
.p-aboutUs.TextBox288 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 50px;
padding-top: 7px;
width: ;
cursor: auto;
border-color: #696969ff;
}
.p-aboutUs.TextBox289 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
padding-top: 7px;
width: 80%;
cursor: auto;
border-color: #696969ff;
color: #696969ff;
}
.p-aboutUs.TextBox290 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
padding-top: 7px;
width: 80%;
cursor: auto;
border-color: #696969ff;
color: #696969ff;
}
.p-aboutUs.Button64 {
color: #fff;
background-color: #FF7629ff;
padding-top: 15px;
padding-left: 30px;
padding-bottom: 15px;
padding-right: 30px;
font-size: 20px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #fcfeff;
cursor: pointer;
user-select: none;
outline-style: none;
font-family: IBM Plex Sans;
width: ;
}
.p-aboutUs.Button68 {
color: #fff;
background-color: #FF7629ff;
padding-top: 15px;
padding-left: 30px;
padding-bottom: 15px;
padding-right: 30px;
font-size: 20px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #fcfeff;
cursor: pointer;
user-select: none;
outline-style: none;
font-family: IBM Plex Sans;
width: ;
}
.p-aboutUs.TextBox356 {
font-family: IBM Plex Sans;
font-weight: ;
font-size: 20px;
padding-top: 7px;
width: 80%;
cursor: auto;
border-color: #696969ff;
color: #696969ff;
}
.p-aboutUs.TextBox357 {
font-family: IBM Plex Sans;
font-weight: ;
font-size: 20px;
padding-top: 7px;
width: 80%;
cursor: auto;
border-color: #696969ff;
color: #696969ff;
}
.p-aboutUs.TextBox358 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 50px;
padding-top: 7px;
width: ;
cursor: auto;
border-color: #696969ff;
}
.p-aboutUs.Image200 {
width: 520px;
border-radius: 40px;
position: relative;
bottom: 70px;
align-self: auto;
}
.p-aboutUs.TextBox297 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 50px;
padding-top: 7px;
width: ;
cursor: auto;
border-color: #696969ff;
}
.p-aboutUs.TextBox299 {
font-family: IBM Plex Sans;
font-weight: ;
font-size: 20px;
padding-top: 7px;
width: 50%;
cursor: auto;
border-color: #696969ff;
color: #696969ff;
text-align: center;
}
.p-aboutUs.Image169 {
width: 300px;
border-radius: 40px;
position: static;
bottom: 70px;
align-self: auto;
}
.p-aboutUs.TextBox302 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 22.5px;
padding-top: 7px;
width: ;
cursor: auto;
border-color: #696969ff;
}
.p-aboutUs.TextBox303 {
font-family: IBM Plex Sans;
font-weight: ;
font-size: 20px;
padding-top: 7px;
width: ;
cursor: auto;
border-color: #696969ff;
color: #FF7629ff;
}
.p-aboutUs.TextBox304 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
padding-top: 7px;
width: 100%;
cursor: auto;
border-color: #696969ff;
text-align: center;
color: #696969ff;
}
.p-aboutUs.TextBox305 {
font-family: IBM Plex Sans;
font-weight: ;
font-size: 18px;
padding-top: 7px;
width: ;
cursor: auto;
border-color: #696969ff;
text-align: center;
color: #696969ff;
}
.p-aboutUs.TextBox306 {
font-family: IBM Plex Sans;
font-weight: ;
font-size: 20px;
padding-top: 7px;
width: ;
cursor: auto;
border-color: #696969ff;
color: #FF7629ff;
}
.p-aboutUs.TextBox307 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 22.5px;
padding-top: 7px;
width: ;
cursor: auto;
border-color: #696969ff;
}
.p-aboutUs.Image170 {
width: 300px;
border-radius: 40px;
position: static;
bottom: 70px;
align-self: auto;
}
.p-aboutUs.TextBox308 {
font-family: IBM Plex Sans;
font-weight: ;
font-size: 18px;
padding-top: 7px;
width: ;
cursor: auto;
border-color: #696969ff;
text-align: center;
color: #696969ff;
}
.p-aboutUs.TextBox309 {
font-family: IBM Plex Sans;
font-weight: ;
font-size: 20px;
padding-top: 7px;
width: ;
cursor: auto;
border-color: #696969ff;
color: #FF7629ff;
}
.p-aboutUs.TextBox310 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 22.5px;
padding-top: 7px;
width: ;
cursor: auto;
border-color: #696969ff;
}
.p-aboutUs.Image171 {
width: 300px;
border-radius: 40px;
position: static;
bottom: 70px;
align-self: auto;
}
.p-aboutUs.TextBox311 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 50px;
padding-top: 7px;
width: 40%;
cursor: auto;
border-color: #696969ff;
text-align: center;
}
.p-aboutUs.Image172 {
width: 140px;
border-radius: 40px;
position: static;
bottom: 70px;
align-self: auto;
}
.p-aboutUs.TextBox313 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 22.5px;
padding-top: 7px;
width: ;
cursor: auto;
border-color: #696969ff;
}
.p-aboutUs.TextBox314 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
padding-top: 7px;
width: ;
cursor: auto;
border-color: #696969ff;
text-align: center;
color: #696969ff;
}
.p-aboutUs.TextBox315 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
padding-top: 7px;
width: ;
cursor: auto;
border-color: #696969ff;
text-align: center;
color: #696969ff;
}
.p-aboutUs.TextBox316 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 22.5px;
padding-top: 7px;
width: ;
cursor: auto;
border-color: #696969ff;
}
.p-aboutUs.Image173 {
width: 140px;
border-radius: 40px;
position: static;
bottom: 70px;
align-self: auto;
}
.p-aboutUs.TextBox317 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
padding-top: 7px;
width: ;
cursor: auto;
border-color: #696969ff;
text-align: center;
color: #696969ff;
}
.p-aboutUs.TextBox318 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 22.5px;
padding-top: 7px;
width: ;
cursor: auto;
border-color: #696969ff;
}
.p-aboutUs.Image174 {
width: 140px;
border-radius: 40px;
position: static;
bottom: 70px;
align-self: auto;
}
.p-aboutUs.Image181 {
width: 140px;
border-radius: 40px;
position: static;
bottom: 70px;
align-self: auto;
}
.p-aboutUs.TextBox331 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 22.5px;
padding-top: 7px;
width: ;
cursor: auto;
border-color: #696969ff;
}
.p-aboutUs.TextBox332 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
padding-top: 7px;
width: ;
cursor: auto;
border-color: #696969ff;
text-align: center;
color: #696969ff;
}
.p-aboutUs.Image182 {
width: 140px;
border-radius: 40px;
position: static;
bottom: 70px;
align-self: auto;
}
.p-aboutUs.TextBox333 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 22.5px;
padding-top: 7px;
width: ;
cursor: auto;
border-color: #696969ff;
}
.p-aboutUs.TextBox334 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
padding-top: 7px;
width: ;
cursor: auto;
border-color: #696969ff;
text-align: center;
color: #696969ff;
}
.p-aboutUs.TextBox335 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
padding-top: 7px;
width: ;
cursor: auto;
border-color: #696969ff;
text-align: center;
color: #696969ff;
}
.p-aboutUs.TextBox336 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 22.5px;
padding-top: 7px;
width: ;
cursor: auto;
border-color: #696969ff;
}
.p-aboutUs.Image183 {
width: 140px;
border-radius: 40px;
position: static;
bottom: 70px;
align-self: auto;
}
.p-aboutUs.Button72 {
color: #000000;
background-color: #ffffffff;
padding-top: 15px;
padding-left: 30px;
padding-bottom: 15px;
padding-right: 30px;
font-size: 20px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
}
.p-aboutUs.Button73 {
color: #fff;
background-color: #FF7629ff;
padding-top: 15px;
padding-left: 30px;
padding-bottom: 15px;
padding-right: 30px;
font-size: 20px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #fcfeff;
cursor: pointer;
user-select: none;
outline-style: none;
font-family: IBM Plex Sans;
width: ;
}
.p-aboutUs.Link51 {
padding-top: ;
font-family: IBM Plex Sans;
font-size: 22.5px;
color: ;
cursor: auto;
}
.p-aboutUs.Link52 {
font-family: IBM Plex Sans;
font-weight: normal;
font-size: 22.5px;
padding-top: ;
color: #696969ff;
border-color: #696969ff;
}
.p-aboutUs.Link53 {
font-size: 22.5px;
font-family: IBM Plex Sans;
padding-top: ;
color: #696969ff;
outline-color: #696969ff;
}
.p-aboutUs.Image240 {
width: 300px;
height: ;
cursor: pointer;
}
.p-aboutUs.TextBox483 {
font-family: IBM Plex Sans;
font-weight: ;
font-size: 22.5px;
padding-top: ;
width: ;
cursor: pointer;
border-color: #696969ff;
}
.p-aboutUs.TextBox484 {
font-family: IBM Plex Sans;
font-weight: ;
font-size: 22.5px;
padding-top: ;
width: ;
cursor: pointer;
color: #696969ff;
}
.p-aboutUs.TextBox522 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 25px;
padding-top: ;
width: 100%;
}
.p-aboutUs.Image258 {
width: 100%;
height: 100%;
border-radius: 20px;
}
.p-aboutUs.Image259 {
width: 100%;
height: 100%;
border-radius: 20px;
}
.p-aboutUs.Image260 {
width: 100%;
height: 100%;
border-radius: 20px;
}
.p-aboutUs.Image261 {
width: 100%;
height: 100%;
border-radius: 20px;
}
.p-aboutUs.TextBox507 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
color: #696969ff;
}
.p-aboutUs.TextBox508 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
color: #696969ff;
}
.p-aboutUs.TextBox509 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
color: #696969ff;
}
.p-aboutUs.TextBox510 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
color: #696969ff;
}
.p-aboutUs.TextBox511 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
color: #696969ff;
}
.p-aboutUs.TextBox512 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
color: #696969ff;
}
.p-aboutUs.TextBox513 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
color: #696969ff;
}
.p-aboutUs.TextBox506 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 25px;
align-self: flex-start;
}
.p-aboutUs.TextBox514 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
color: #696969ff;
}
.p-aboutUs.TextBox515 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
color: #696969ff;
}
.p-aboutUs.TextBox516 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
color: #696969ff;
}
.p-aboutUs.TextBox517 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
color: #696969ff;
}
.p-aboutUs.TextBox518 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
color: #696969ff;
}
.p-aboutUs.TextBox519 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
color: #696969ff;
}
.p-aboutUs.TextBox520 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
color: #696969ff;
}
.p-aboutUs.TextBox521 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 25px;
align-self: flex-start;
}
.p-aboutUs.TextBox523 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
color: #696969ff;
width: 100%;
padding-left: ;
padding-bottom: ;
}
.p-aboutUs.Image262 {
width: 30px;
}
.p-aboutUs.Image263 {
width: 30px;
}
.p-aboutUs.Image264 {
width: 30px;
}
.p-aboutUs.Image265 {
width: 30px;
}
.p-aboutUs.Image266 {
width: 30px;
}
.p-aboutUs.Image267 {
width: 100%;
height: 50px;
}
.p-aboutUs.Image268 {
width: 100%;
height: 100%;
border-radius: 20px;
}
.p-aboutUs.Image269 {
width: 100%;
height: 100%;
border-radius: 20px;
}
.p-aboutUs.Image270 {
width: 100%;
height: 100%;
border-radius: 20px;
}
.p-aboutUs.Image271 {
width: 100%;
height: 100%;
border-radius: 20px;
}
.p-aboutUs.Image272 {
width: 100%;
height: 100%;
border-radius: 40px;
}
.p-aboutUs.Image273 {
width: 100%;
height: 100%;
border-radius: 40px;
}
.p-aboutUs.Button77 {
color: #ffffffff;
background-color: #FF7629ff;
padding-top: 15px;
padding-left: 30px;
padding-bottom: 15px;
padding-right: 30px;
font-size: 20px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: ;
border-style: none;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
position: static;
left: 100px;
}
.p-aboutUs.TextBox524 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 30px;
position: static;
right: 100px;
}
@media screen and (max-width: 767px) {
	.p-aboutUs.Flex674.bpt {
justify-content: flex-start;
align-items: stretch;
flex-direction: column;
	}
}
@media screen and (max-width: 478px) {
	.p-aboutUs.Image240.bpt {
align-self: auto;
	}
	.p-aboutUs.Image267.bpt {
align-self: auto;
	}
}