a:link { 
    text-decoration: none;
 }

 .p-Home.Flex398 a:hover{
    color: brown;
}

.p-Home.TextBox278:hover{
    color: brown;
}

.p-Home.TextBox277:hover{
    color: brown;
}

.p-Home.Flex398 a{
    color: #696969;
}

.p-aboutUs.Flex673 a{
    color: #696969;
}

.p-aboutUs.Flex673 a:hover{
    color: brown;
}
.p-aboutUs.TextBox483:hover{
    color: brown;
}
.p-aboutUs.TextBox484:hover{
    color: brown;
}

.p-Our_menu.Flex676 a{
    color: #696969;
}
.p-Our_menu.Flex676 a:hover{
    color: brown;
}
.p-Our_menu.TextBox485:hover{
    color: brown;
}
.p-Our_menu.TextBox486:hover{
    color: brown;
}


.p-Home.Flex22 a{
    color: #FF7629;
}











